<% @uploads.each do |upload| %>
  <div>
		<h3>
			<a href="<%= @prefix %>/<%= upload['name'] %>"><%= upload["name"] %></a>

      <small style="font-size: 0.7em"><%= Date.parse(upload["uploaded_on"]).strftime("%D") %></small>
    </h3>
    
    <p><%= upload["description"] %></p>
  </div>
<% end %>

<h3><a href="upload">Upload a new file</a></h3>