<% @posts.each do |post| %>
  <h1>
		<a href="/wiki/<%= post["slug"] %>"><%= post["name"] %></a>
		<small style="font-size: 0.7em">
			<%= Date.parse(post["created_on"]).strftime("%D") %>
			<%= post["author"] if post["author"] %>
		</small>
	</h1>
  
  <div><%= post["parsed_contents"] %></div>
  
  <div style="margin: 18px auto;">
    <% unless post["tags"].blank? %>
    	<b>Tagged as</b> <%= @post["tags"] %> &mdash;
		<% end %>
		
    <b>Last updated</b> <%= Date.parse(post["updated_on"]).strftime("%D") %>
  </div>
<% end %>

<h3>
	<a href="/wiki/create">New post</a>
	<a href="/wiki/uploads/">Files</a>
	<a href="/wiki/uploads/upload">Upload File</a>
</h3>