<?xml version="1.0" ?> 
<rss version="0.91">
  <channel>
    <title><%= @title %></title>
    <link><%= @link %></link>
    <description><%= @description %></description>
    <language><%= @language %></language>
    <copyright><%= @copyright %></copyright>
    <docs><%= @docs %></docs>
    <lastBuildDate><%= @last_build_date %></lastBuildDate>
    
    <image>
      <title>DevX</title>
      <url>http://www.devx.com/assets/devx/3182.gif</url>
      <link>http://www.DevX.com</link>
    </image>
  </channel>
  
  <item>
    <title>Attend to your future. </title>
    <description>A future where millions of users are waiting.</description>
    <link>http://www.devx.com/content/id/10559</link>
    <author> editorial@devx.com </author>
    <pubDate>Wed, 22 Jan 2003 11:19:28 PST</pubDate>
  </item>
</rss>