<?xml version="1.0" ?> 
<rss version="0.91">
  <channel>
    <title><%= @title %></title>
    <link><%= @link %></link>
    <description><%= @description %></description>
    <language><%= @language %></language>
    <copyright><%= @copyright %></copyright>
    <docs><%= @docs %></docs>
    <lastBuildDate><%= @last_build_date %></lastBuildDate>
    
    <image>
      <title><%= @blog_title %></title>
      <url><%= @blog_img %></url>
      <link><%= @blog_link %></link>
    </image>
  </channel>
  
	<% @posts.each do |post| %>
  	<item>
  	  <title><%= post["name"] %></title>
  	  <description><%= post["parsed_contents"] %></description>
  	  <link><%= "#{@blog_root}/#{post['slug']}" %></link>
  	  <author></author>
  	  <pubDate><%= post["created_on"] %></pubDate>
  	</item>
	<% end %>
</rss>