<h1>
  <%=
    heading = @post ? "#{'Edit ' if @editable}#{@post["name"]}" : "Create a new post"
    
    if(@post)
      action = @editable ? '' : 'edit'
			caption = @editable ? 'show' : 'edit'
      url = "/wiki/#{@post['slug']}/#{action}"
      
      heading += %{ (<a href="#{url}">#{caption}</a>)} 
    end
    
    heading
  %>
</h1>

<form method="post" action="/wiki/<%= @post ? @post["slug"] + "/edit" : 'create' %>">
  <% if @editable %>
		<p>
			<b>Name</b><br>
			<input type="text" name="name" class="wide-input" value="<%= @name || (@post["name"] if @post) %>">
	  </p>
	
		<p>
			<b>Contents</b><br>
			<textarea id="contents" name="contents"><%= @post["contents"] if @post %></textarea>
		</p>

    <p>
      <b>Tags</b><br>
      <input type="text" name="tags" class="wide-input" value="<%= @post["tags"] if @post %>">
    </p>
    
    <p>
      <input type="checkbox" name="published"<%= (@post["published"] ? ' checked' : '') if @post %>>
      <b>Published</b>
    </p>

		<tr><td><input type="submit"></td></tr>
  <% elsif @post %>
		<%= @post["parsed_contents"] if @post %>

    <div style="margin-top: 18px;">
      <b>Tagged as</b> <%= @post["tags"] %> &mdash;
      <b>Created</b> <%= Date.parse(@post["created_on"]).strftime("%D") %> &mdash;
      <b>Last updated</b> <%= Date.parse(@post["updated_on"]).strftime("%D") %>
    </div>
  <% end %>
</form>